*{
box-sizing: border-box;   
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

#Entete {
    padding: 20px;
    background-color: rgb(180, 250, 180);
    box-sizing: border-box;
    margin-bottom: 60px;
    text-align: center;
}

body{
    background-color: rgb(225, 255, 231);
    line-height: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

h1{
    font-size: 2.2em;
    color: rgb(2, 2, 2);
}

h2 {
    font-size: 1.5em;
    color: seagreen;
    padding-bottom: 20px 0;
    margin-bottom: 20px;
}

h3{
    font-size:1.2em;
    margin-bottom: 16px;
}
p{
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: justify;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

ul, ol{
    
    margin-bottom: 20px;
}

li{
    margin-bottom: 0px;
    padding: 10px;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0; 
    display: flex;
    flex-direction: row;
    gap: 10px;
}

nav li{
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    justify-content: space-between;
}
nav a { 
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

nav a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(209, 246, 191);
    border-radius: 5px;
    transition: all 0.3s ease;
    padding: 5px;
}

main{
    padding: 40px 40px;
    max-width: 1000px;
     margin: 0 auto;
}

section{
    padding: 40px 40px;
}

section :nth-child(even){
    background-color: rgb(223, 255, 235);
    padding: 5px;
    border-radius: 5px;
}

header {
    margin: 0 auto;
}

header h1{
    font-size: 1.8em;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    margin-top: 10px;
}

header p{
    font-size: 1.2em;
    font-style: italic;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    text-align: center;
}

